h1 {
color: Yellow;background:black;font-style: verdana;
} 
h2 {
color: red;background:black;font-style: verdana;
}


p {
color:blue; background:green; font-style: "times new roman";
}  
body {
color:green;font-style: arial;background:#FFC8D7;

}

